a(href='https://www.favbet.ro/ro/register/').main-link
.brand
  .brand__main
    .brand__main-logo
      img(src="img/logo.svg" alt="Favbet")
    .brand__main-left
      .brand__main-slogan
        .first-line
          p Vânătoarea după o pasăre
        .second-line
          p rară este la fel de interesantă
        .third-line
          p ca și #[span jocul] pe platforma Favbet
      a(href="https://www.favbet.ro/ro/register/").brand__main-btn Plasează un pariu
    picture.brand__main-pers
      source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/pers-mob.png")
      source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/pers-desk.png")
      source(media="(min-width: 601px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/pers-tab.png")
      source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/pers-desk.png")
      img(src="img/pers-desk.png" alt="Favbet")
    picture.brand__main-bird
      source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/bird-mob.png")
      source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/bird-desc.png")
      source(media="(min-width: 601px) and (max-width: 770px) and (orientation: portrait)" srcset="img/bird-tab.png")
      source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/bird-desc.png")
      img(src="img/bird-desc.png" alt="Favbet")
    .brand__main-bg
  .brand__footer
    .brand__footer-bonus
      .brand__footer-bonus-item
        .brand__footer-bonus-sum 100
        .brand__footer-bonus-txt ROTIRI #[br]GRATUITE
      .brand__footer-bonus-item
        .brand__footer-bonus-sum 100 LEI
        .brand__footer-bonus-txt PARIU #[br]FĂRĂ RISC
      .brand__footer-bonus-item
        .brand__footer-bonus-sum 100%
        .brand__footer-bonus-txt BONUS #[br]PÂNĂ LA 1000 LEI
    .brand__footer-license
      .brand__footer-license-age
      .brand__footer-license-onjn
      .brand__footer-license-txt
        p L1200662W001197.
        p Se aplică T&C