a(href='https://www.favbet.hr/hr/registracija/').main-link
.brand
  .brand__main
    .brand__main-logo
      img(src="img/logo.svg" alt="Favbet")
    .brand__main-left
      .brand__main-slogan
        .first-line
          p Lov na rijetke
          p ptice je uzbudljiv
        .second-line
          p kao #[span igranje] u Favbetu
      a(href="https://www.favbet.hr/hr/registracija/").brand__main-btn Kladi se
    picture.brand__main-pers
      source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/pers-mob.png")
      source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/pers-desk.png")
      source(media="(min-width: 601px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/pers-tab.png")
      source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/pers-desk.png")
      img(src="img/pers-desk.png" alt="Favbet")
    picture.brand__main-bird
      source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/bird-mob.png")
      source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/bird-desc.png")
      source(media="(min-width: 601px) and (max-width: 770px) and (orientation: portrait)" srcset="img/bird-tab.png")
      source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/bird-desc.png")
      img(src="img/bird-desc.png" alt="Favbet")
    .brand__main-bg
  .brand__footer
    .brand__footer-bonus
      .brand__footer-bonus-item
        .brand__footer-bonus-sum 200
        .brand__footer-bonus-txt BESPLATNIH #[br]VRTNJI
      .brand__footer-bonus-item
        .brand__footer-bonus-sum 30€ #[span 226,04 kn]
        .brand__footer-bonus-txt RISK-FREE #[br]BET
      .brand__footer-bonus-item
        .brand__footer-bonus-sum 100%
        .brand__footer-bonus-txt BONUSA NA PRVI DEPOZIT do 700€ #[span 5274,15 kn]
    picture.brand__footer-payment
      source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/payment-mob.svg")
      source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/payment-desk.svg")
      source(media="(min-width: 601px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/payment-mob.svg")
      source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/payment-desk.svg")
      img(src="img/payment-desk.svg" alt="Favbet")